<h3>thank you for your purchase :)</h3>
<h1>Our administrator will contact you later</h1>
<a asp-controller="Home" asp-action="Index" class="btn btn-success m-1" style="width: auto">See all bikes</a>

