@model int
<div class="alert alert-danger mt-1 mb-1">
    <h4>404 Not Found Error :</h4>
    <hr />
    <h5>
        Order with id = @Model cannot be found
    </h5>
</div>
<a asp-action="Get" , asp-controller="Orders" class="btn btn-outline-success" style="width: auto">
    Click here to see all orders
</a>

