@model IEnumerable<Category>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Bikes
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        @foreach (var category in Model)
        {
            var counter = category.Products.Count;
            <a class="dropdown-item" asp-controller="Bikes" asp-action="BikesByCategory" asp-route-category="@category.CategoryName">@category.CategoryName   @counter</a>
        }
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-controller="Home" asp-action="Index">See all bikes</a>
    </div>
</li>

