@model UsersListItemModel

    <div class="card">
        <div class="card-header">
            <h2>@Model.UserName</h2>
        </div>
        <div class="card-body">
            <p class="card-text">
                Phone: @Model.PhoneNumber<br/>
                Email: @Model.Email
            </p>
        </div>
        <div class="card-footer">
            <a href='javascript:history.go(-1)'>Go back</a>
        </div>
    </div>

