@model UserManageViewModel

<h1>Here you can manage your profile</h1>

<div class="row">
    <div class="col-md-12">
        <form method="post" asp-controller="Account" asp-action="ManageProfile">
            <input type="hidden" asp-for="@Model.Id" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group col-md-6">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" placeholder="Enter login" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" />
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" aria-describedby="phonelHelp" placeholder="Enter phone number" />
                <small id="phoneHelp" class="form-text text-muted">We'll never share your phone number with anyone else.</small>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <button type="submit" class="btn btn-primary m-1">Update</button>
                <a asp-action="Index" asp-controller="Home" class="btn btn-secondary m-1">Cancel</a>
            </div>
        </form>
    </div>
</div>

